{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./app",
          "expose": "app"
        },
        {
          "src": "./app/assets",
          "expose": "assets"
        },
        {
          "src": "./app/components",
          "expose": "components"
        },
        {
          "src": "./app/assets/images",
          "expose": "images"
        },
        {
          "src": "./app/services",
          "expose": "services"
        }
      ]
    ]
  ]
}
